.badge-score{
  background-color: #1aa3ff;
}

.badge-total{
  background-color: #33cc33;
}

.text-centre{
  text-align: center;
}

.footer
{
  text-align: center;
  color: #fff;
  background-color:#000;
  min-height: 150px;
  position: fixed;
}
